// $reddish: #773E57;
$reddish: #6C2E2E;
// $grey: 
$tan: #CBB890;

html {
  box-sizing: border-box;
  // font-family: 'Shadows Into Light';
  font-family: 'Schoolbell';
  
  body {
    background: #503749;
    // font-family: 'Oswald';
    
    ul {
      padding: 0;
    }
    
    a {
      text-decoration: none;
      // color: $reddish;
    }
    .card-deck {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      width: 225px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8px;
      border: 3px solid black;
      border-radius: 8px;
      padding: 10px;
      
      background-color: $tan;
      
      h3 {
        margin: 0;
        font-size: 2rem;
      }
    }
  }
  
  ul {
    list-style-type: none;
  }
  
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-content: center;
      
      li a {
        width: 185px;
        // height: 70px;
        display: block;
        background-color: $tan;
        margin: 9px;
        border: 3px solid black;
        border-radius: 6px;
        padding: 7px 0;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
  
}